/*	c00264985	Joe Holden	*/

/* Styling the Navbar for all pages */
.navbar {
	background-color: #000;
	position: fixed;
	top: 0;
	width: 100%;
}

/* Styling the links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 18px;
}

/* Inverts the colours when mouse hovers over links */
.navbar a:hover {
  background: #fff;
  color: black;
}

/* Giving the body section on all pages 0 margin so that the navbar will go to the full width of the page */
body {
    margin: 0;
}

/* Styling the figcaptions on all pages */
figcaption {
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

/*
-------------------------------------------------------------------------------
index.html
-------------------------------------------------------------------------------
*/

/* Styling the questions and adding a rounded border */
#questions {
	text-align: center;
	border: 8px double red;
	border-radius: 12px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
}

/* Setting a gradient background */
.ind-html {
  background-image: linear-gradient(to right, #6ac6f1, #ffffff);
}

/* Adding a border around the bitcoin info section */
.ind-info {
	border-top: 100px;
	border: solid;
	text-align: center;
	border-color: white;
	margin-left: 10%;
	margin-right: 10%;
}

/* Styling the index header and adding a border */
.ind-header {
	border: 8px solid black;
	border-radius: 12px;
	text-align: center;
	margin-top: 75px;
	margin-left: 10%;
	margin-right: 10%;
}

/*
-------------------------------------------------------------------------------
bitcoin.html
-------------------------------------------------------------------------------
*/

/* Tried to get as close to Bitcoin orange as I could */
.bit-html {
  background: #F2A900;
}

/* Adding the bitcoin banner and centre it */
#bit-banner {
	padding-top: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Adding a border around the bitcoin info section */
.bit-info {
	border-top: 100px;
	border: solid;
	text-align: center;
	border-color: white;
}

/* Styling the Bitcoin table about prices year-on-year */
.bit-table {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	border: 8px solid;
	border-spacing: 5px;
}

/* Styling the font size for the table headers and rows */
.bit-table th, td {
	padding: 15px;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

/* Making the background colour of the headers be white */
.bit-table th {
	background-color: white;
}

/* Making the background colour of the even rows be lightgrey */
.bit-table tr:nth-child(even) {
  background-color: #eee;
}

/* Making the background colour of the odd rows be white */
.bit-table tr:nth-child(odd) {
  background-color: #fff;
}

/* Creating a div container for the iframe video */
#bit-video {
	position: relative;
    overflow: hidden;
    width: 100%;
}

/* Setting the size and spacing for the iframe */
.btc-responsive-iframe {
    display: block;
	margin-left: auto;
	margin-right: auto;
    width: 50%;
    height: 350px;
}

/* Styling the scroll button on the end of the page */
#scroll-button {
    width: 50px;
    padding-left: 10px;
}

/*
-------------------------------------------------------------------------------
ethereum.html
-------------------------------------------------------------------------------
*/

/* Setting the background colour for this page */
.eth-html {
  background: lightgrey;
}

/* Styling the Ethereum banner, centre aligning it and fixing height and width settings */
#eth-banner {
	padding-top: 3%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	height: 230px;
}

/* Adding a rounded border around the info section */
.eth-info {
	border-top: 100px;
	border: 8px double white;
	border-radius: 12px;
	text-align: center;
}

/* Centre aligning the logo and adding a transition effect */
#eth-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	height: 230px;
	transition: width 2s, height 2s, transform 2s;
}

/* Detailing what will happen when the user hovers over the logo */
#eth-logo:hover {
	width: 20%;
	height: 450px;
	transform: rotate(180deg);
}

/*
-------------------------------------------------------------------------------
litecoin.html
-------------------------------------------------------------------------------
*/

/*
    Trying to get the Litecoin background to go the full length of the page, been trying for about 3 days now to
    no avail so Tracey, if you are seeing this, it's because I couldn't figure it out and I just gave up in
    frustration.
    Setting the HTML and body tags to min-height: 100% did not work for some reason, when I did that then all the
    logos in the background would dissapear and I was left with a white screen.
    Height is set to 920px as this is the closest I could get it to the bottom of my screen without introducing a
    scroll bar for it.

    All the div sections have a position:fixed atribute because I had to put them on top of the litecoin backgorund
    photo, I did not put the background in a html tag as I wanted to adjust the opacity of the image and if it was
    in html tag then the whole page became transparent, so I put it in it's own div section nd then displayed things on
    top of it. I suspect this is a major reason as why I couldn't get the backgorund to go down the full lenght of the
    screen.
*/

/* Styling the Litecoin backgorund for the page */
.ltc-background {
	background-image: url("images/litecoin-logo.png");
	height: 920px;
	background-size: 20% 30%;
	opacity: 0.1;
}

/* The div section that has the banner inside of it */
.ltc-header {
	position: fixed;
	top: 10%;
}

/* Styleing the banner, centre aligning it and fixing height and width */
#ltc-banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	height: 200px;
}

/* Styling the Litecoin info section */
.ltc-info {
	position: fixed;
	top: 35%;
	border-top: 100px;
	border: 8px dashed blue;
	border-radius: 12px;
	text-align: center;
}

/* This is the div that holds the Litecoin video*/
#ltc-video {
    position: fixed;
	top: 50%;
	width: 100%;
}

/* Trying to centre align the Litecoin video */
.ltc-responsive-iframe {
    display: block;
	margin-left: auto;
	margin-right: auto;
    width: 50%;
    height: 350px;
}

/*
-------------------------------------------------------------------------------
thankyou.php
-------------------------------------------------------------------------------
*/

.php-html {
  background-image: linear-gradient(to right, #6ac6f1, #ffffff);
}

.php-container {
    text-align: center;
	border: 8px double red;
	border-radius: 12px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 75px;
}

/* Creating a div container for the iframe video */
.php-panda {
	text-align: center;
    overflow: hidden;
    width: 100%;
}

/* Setting the size and spacing for the iframe */
.php-responsive-iframe {
    display: block;
	margin-left: auto;
	margin-right: auto;
    width: 50%;
    height: 400px;
}

/*
-------------------------------------------------------------------------------
Media Queries for all pages
-------------------------------------------------------------------------------
*/

/* Editing CSS for small phone screens */
@media only screen and (max-width: 340px) {

    /* Changes the size of the navbar for smaller screens */
	.navbar a {
		font-size: 15px;
		padding: 10px 10px;
	}

    /*
    ------------------------------------------------
    index.html
    ------------------------------------------------
    */

    /* Chnaging the Header font size */
	.ind-header {
		font-size: 80%;
	}

    /* Chnaging the info font size */
	.ind-info {
	    font-size: 80%;
	}

    /*
    ------------------------------------------------
    bitcoin.html
    ------------------------------------------------
    */

    /* Changing the padding on the table to be able to fit smaller screens */
    .bit-table th, td {
        padding: 4px;
    }

    /* Fixing the banner in mobile view, making it smaller and adding extra padding */
	#bit-banner {
		width: 80%;
		padding-top: 15%;
	}

	/* Making font a bit smaller so it takes up less space on the screen */
	.bit-info {
	    font-size: 80%;
	}

	/* Changing border sizing to fit mobile screen properly */
	.bit-table {
        border: 2px solid;
	    border-spacing: 0;
    }

    /* Changing iframe size so it fits on mobile screen */
    .btc-responsive-iframe {
        width: 80%;
        height: 200px;
    }

    /*
    ------------------------------------------------
    ethereum.html
    ------------------------------------------------
    */

    /* Fixing the banner in mobile view, making it wider and adding less padding */
	#eth-banner {
		height: 100px;
		width: 100%;
		padding-top: 10%;
	}

	/* Making font a bit smaller so it takes up less space on the screen */
	.eth-info {
	    font-size: 80%;
	}

    /* Fixing the logo so it fits a bit better on the screen */
	#eth-logo {
		height: 200px;
		width: 50%;
	}

    /* Changing the way the transition works so that it looks a bit better on mobile screens */
	#eth-logo:hover {
        width: 20%;
        height: 100px;
        transform: rotate(180deg);
    }

    /*
    ------------------------------------------------
    litecoin.html
    ------------------------------------------------
    */

    /* Changing the Litecoin banner for smaller screens */
    #ltc-banner {
        width: 80%;
        height: 60px;
    }

    /* Changing font size and the size of the border */
    .ltc-info {
        top: 25%;
        border: 3px dashed blue;
        font-size: 70%;
    }

    /* adding some padding to the top of the video */
    #ltc-video {
        padding-top: 20%;
    }

    /* Changing iframe size so it fits on mobile screen */
    .ltc-responsive-iframe {
        width: 80%;
        height: 200px;
    }

    /*
    ------------------------------------------------
    thankyou.php
    ------------------------------------------------
    */

    /* Changing iframe size so it fits on mobile screen */
    .php-responsive-iframe {
        width: 80%;
        height: 200px;
    }
}

/* Editing CSS for medium - large phones */
@media only screen and (min-width: 340px) and (max-width: 550px) {

    /* Changes the size of the navbar for smaller screens */
	.navbar a {
		font-size: 15px;
		padding: 10px 10px;
	}

    /*
    ------------------------------------------------
    bitcoin.html
    ------------------------------------------------
    */

    /* Fixing the banner in mobile view, making it smaller and adding extra padding */
	#bit-banner {
		width: 80%;
		padding-top: 15%;
	}

    /* Making font a bit smaller so it takes up less space on the screen */
	.bit-info {
	    font-size: 80%;
	}

    /* Changing border sizing to fit mobile screen properly */
	.bit-table {
        border: 2px solid;
	    border-spacing: 0;
    }

    /* Changing iframe size so it fits on mobile screen */
    .btc-responsive-iframe {
        width: 80%;
        height: 200px;
    }

    /*
    ------------------------------------------------
    ethereum.html
    ------------------------------------------------
    */

    /* Fixing the banner in mobile view, making it wider and adding less padding */
	#eth-banner {
		height: 100px;
		width: 75%;
		padding-top: 10%;
	}

	/* Making font a bit smaller so it takes up less space on the screen */
	.eth-info {
	    font-size: 80%;
	}

    /* Changing the size of the logo so that it fits better */
	#eth-logo {
		height: 200px;
		width: 50%;
	}

    /* Again, changing the transition effect so it look better on mobile */
	#eth-logo:hover {
        width: 20%;
        height: 100px;
        transform: rotate(180deg);
    }

    /*
    ------------------------------------------------
    litecoin.html
    ------------------------------------------------
    */

    /* Changing the size of the Litecoin banner */
    #ltc-banner {
        width: 80%;
        height: 60px;
    }

    /* Changing fornt size and the border size for mobile */
    .ltc-info {
        top: 25%;
        border: 3px dashed blue;
        font-size: 70%;
    }

    /* Adding some padding to the top of the video div */
    #ltc-video {
        padding-top: 10%;
    }

    /* Changing iframe size so it fits on mobile screen */
    .ltc-responsive-iframe {
        width: 80%;
        height: 250px;
    }

    /*
    ------------------------------------------------
    thankyou.php
    ------------------------------------------------
    */

    /* Changing iframe size so it fits on mobile screen */
    .php-responsive-iframe {
        width: 80%;
        height: 200px;
    }
}

/* Editing CSS for tablets */
@media only screen and (min-width: 550px) and (max-width: 1024px) {

    /*
    ------------------------------------------------
    bitcoin.html
    ------------------------------------------------
    */

    /* Fixing the banner in mobile view, making it smaller and adding extra padding */
	#bit-banner {
		width: 80%;
		padding-top: 10%;
	}

	/* Changing iframe size so it fits on mobile screen */
    .btc-responsive-iframe {
        width: 80%;
        height: 200px;
    }

    /*
    ------------------------------------------------
    ethereum.html
    ------------------------------------------------
    */

    /* Fixing the banner in mobile view, making it wider and adding less padding */
	#eth-banner {
		height: 200px;
		width: 75%;
		padding-top: 5%;
	}

    /* Changing the ethereum logo for tablet screens
        The transition doesn;t look too bad on tablet screen so I left it as it was
    */
	#eth-logo {
		height: 400px;
		width: 60%;
	}

    /*
    ------------------------------------------------
    litecoin.html
    ------------------------------------------------
    */

    /* Changing the size of the litecoin banner */
    #ltc-banner {
        width: 65%;
        height: 100px;
    }

    /* changing the border type on the info section */
    .ltc-info {
        top: 25%;
        border: 3px dashed blue;
    }

    /* Changing iframe size so it fits on mobile screen */
    .ltc-responsive-iframe {
        width: 80%;
        height: 250px;
    }

    /*
    ------------------------------------------------
    thankyou.php
    ------------------------------------------------
    */

    /* Changing iframe size so it fits on mobile screen */
    .php-responsive-iframe {
        width: 80%;
        height: 400px;
    }
}
















